.statBox {
  background-color: rgba(255, 255, 255, 0.218);
  border-radius: 4px;
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  width: 15rem;
  max-width: 400px;
  margin-top: 3%;
  margin-bottom: 3%;
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.statBoxUntilNow {
  font-size: x-small;
  font-style: italic;
}

.statBoxIcon {
  animation: down 1s ease-out;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.statBoxDescription {
  font-weight: 500;
  text-transform: uppercase;
}

.statBoxNumber {
  color: white;
  animation: up 1s ease-out;
  padding: 2%;
  font-size: 2.5rem;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .statBox {
    width: 90%;
  }
}
