body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-image: url("./../assets/background.jpeg");
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-repeat: initial;
  }
  .css-1hv8oq8-MuiStepLabel-label {
    font-size: x-small !important;
  }
}
