body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-image: url("http://drive.google.com/uc?export=view&id=16LA-Mv9MUpkDZC6C09DalR8Q6uB_Ajz4");
  background-size: cover;
}

@media (max-width: 768px) {
  body {
    background-repeat: initial;
  }
  .css-1hv8oq8-MuiStepLabel-label {
    font-size: x-small !important;
  }
}
